<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>
    <h1>Список товаров</h1>
    # мы говорим, что у нас еть products, мы его циклом обходим, но есть особенность,
    # в HTML шаблонах не работают отступы, как в Python, поэтому циклы и условные операторы
    # здесь приходится закрывать закрывающим тегом
    {% for prod in products %}
        <img src="{{prod.image.url }}" height="200px" width="200px"> # у prod ксть св-во image, у которого есть адрес (url)
        <h2>{{ prod.name }}</h2> # будет у нас название товара, говорим, у товар есть name
        <h3>{{ prod.color }}</h3> # у товара есть цвет
        <h3>{{ prod.price }}</h3> # а также цена
        <p>-----------------------------------------</p>
    {% endfor %}
</body>
</html>